<div class="card">
  <h1 class="card-header">
    Add  New friend
  </h1>
<%= render "form", friend: @friend %>
</div>

<br>

<div>
  <%= link_to "Back to friends", friends_path,class:"btn btn-secondary" %>
</div>
