<h1>About us...</h1>

<p>Our website is designed to efficiently manage friends' data through comprehensive CRUD (Create, Read, Update, Delete) operations. Users can effortlessly add new friends, view detailed information about their existing friends, update contact details or personal information, and remove entries as needed. This intuitive interface ensures that managing and organizing your social network is seamless and straightforward.</p>
<style>
    p{
        text-align: justify;
    }
</style>